$width-2300px: calc((100% - 1043px - 260px - 57px - 57px) / 2);
$left-1522px: 6.8vw;
$margin-between-arrow-and-preview: 4vw;

.left-preview {
}
.right-preview {
}
.arrow-wrap {
}

@media (max-width: 2300px) {
  .left-preview,
  .right-preview {
    width: calc((100% - 1043px - 260px - 57px - 57px) / 2);
  }
}

@media (max-width: 1522px) {
  .left-preview,
  .right-preview {
    width: calc(
      (
          100% - 1043px - #{$left-1522px} * 2 - #{$margin-between-arrow-and-preview} *
            2
        ) / 2
    );
  }
  .left-preview {
    left: calc(
      50% - 521.5px - #{$left-1522px} - #{$margin-between-arrow-and-preview}
    );
  }
  .right-preview {
    right: calc(
      50% - 521.5px - #{$left-1522px} - #{$margin-between-arrow-and-preview}
    );
  }
  .arrow-wrap {
    left: -$left-1522px;
    width: calc(100% + #{$left-1522px} * 2);
  }
}

$vw-7: 7vw;
@media (max-width: 1366px) {
  .left-preview,
  .right-preview {
    display: none;
  }
  .arrow-wrap {
    left: -$vw-7;
    width: calc(100% + #{$vw-7} * 2);
  }
}

@media (max-width: 1278px) {
  .arrow-wrap {
    display: none;
  }
}
