.main-wrap {
	padding: 2rem 0 3rem 0;
}
.content-wrap-main {
	height: 100%;
	padding: 0 5.2rem;
}
.ContentItem-PC {
}

.ContentItem-Tablet {
	display: none;
}

@media (max-width: 1375px) {
	.ContentItem-PC {
		display: none;
	}

	.ContentItem-Tablet {
		display: block;
	}

	.ContentItem {
		width: 25rem;
	}
}

@media (max-width: 1135px) {
	.ContentItem {
		width: 100%;
		max-width: unset;
	}
}

@media (max-width: 900px) {
	.content-wrap-main {
		padding: 0 3rem;
	}
}

@media (max-width: 500px) {
	.content-wrap-main {
		padding: 0 1.4rem;
	}
}
