$sinchon-color: #009D3E;

.suapc_wrap {
    position: relative;

	width: 1000px;
    height: auto;
    border: 3px solid $sinchon-color;
    
    margin:0 auto;
    padding: 3rem 4rem 0 4rem;
}

.season-selected{
    color: $sinchon-color;
    border-bottom: 3px solid $sinchon-color;
}