html,
body {
  height: 100%;
  padding: 0;
  margin: 0;

  line-height: 1.6;

  font-family:
    Pretendard,
    -apple-system,
    BlinkMacSystemFont,
    Segoe UI,
    Roboto,
    Oxygen,
    Ubuntu,
    Cantarell,
    Fira Sans,
    Droid Sans,
    Helvetica Neue,
    "Noto Sans KR";

  // TODO: 😭
  // font-size: 62.5%;
}
@keyframes fadein {
  0% {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@keyframes slideup {
  0% {
    opacity: 0;
    transform: translateY(80px);
  }
  to {
    opacity: 1;
    transform: translate(0);
  }
}

.slide-up {
  animation: slideup 600ms 300ms;
  animation-fill-mode: forwards;
  opacity: 0;
}

.fade-in {
  animation: fadein 600ms 300ms;
  animation-fill-mode: forwards;
  opacity: 0;
}
sitemask {
  background: rgba(0, 0, 0, 0.4);
  position: fixed;
  width: 100%;
  height: 100%;
}
.hide {
  display: none;
}
.vhide {
  visibility: hidden;
}
.email {
  &::after {
    content: "icpc.sinchon@gmail.com";
    text-decoration: underline;
  }
}

#__next {
  display: flex;
  flex-direction: column;
  min-height: 100%;
}

* {
  box-sizing: border-box;
}

.show-if-mobile {
  display: none;

  @media (max-width: 766px) {
    display: block;
  }
}
.hide-if-mobile {
  @media (max-width: 766px) {
    display: none;
  }
}
.show-if-small {
  display: none;

  @media (max-width: 370px) {
    display: block;
  }
}
.hide-if-small {
  @media (max-width: 766px) {
    display: block;
  }
}
$sinchonColor: #009d3e;

a {
  color: black;
  // font-weight: 500;
  text-decoration: none;

  cursor: pointer;
}

a:hover {
  text-decoration: underline;
}

ul {
  @media (max-width: 766px) {
    padding-left: 1rem;
  }
}

li {
  @media (max-width: 766px) {
    font-size: 0.9rem;
  }

  &::marker {
    font-size: 0.8rem;
    color: $sinchonColor;
  }
}

img {
  max-width: 100%;
  display: block;
}

$padd: 0.725rem 0.96667rem;

table {
  width: 100%;

  text-align: center;
  font-size: 0.8rem;

  border-collapse: collapse;
  // border: 1px solid $sinchonColor;

  overflow-x: auto;
  white-space: nowrap;

  overflow-y: hidden;
}
tr:nth-child(even) {
  background-color: rgba(0, 0, 0, 0.02);
}
th {
  color: $sinchonColor;
  font-weight: 500;

  padding: $padd;
  padding: 0.5rem 0.96667rem !important;

  border-bottom: 1px solid $sinchonColor;
  // border-left: 1px solid $sinchonColor;
  // &:first-child {
  // 	border-left: none;
  // }
}

td {
  padding: $padd;
  // border-bottom: 1px solid rgba(0, 0, 0, 0.12);

  // border-left: 1px solid $sinchonColor;
  // &:first-child {
  // 	border-left: none;
  // }
}

::-webkit-scrollbar {
  width: 16px;
}

/* Track */
::-webkit-scrollbar-track {
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #909090;
  background-clip: content-box;

  border: 4px solid transparent;
  border-radius: 8px;
}

::-webkit-scrollbar-thumb:hover {
  background: lightgray;
  background-clip: content-box;
}

main {
  // min-height: calc(100vh);
}
